<h1>Welcome to your dashboard {{user.username}} </h1>

<body class='dashboard-body'>

</body>

<button class="button"><a href="/user-profile">Your Profile</a></button>
{{#each photographers}}
<a class="username" href="/photographer/{{_id}}">
  {{username}}<br> Location: {{location}}<br>
</a>
{{#each gallery}}

<a href="/photo/{{_id}}"><img src={{imgPath}} alt=""></a>
{{/each}}
{{/each}}