{{!-- <div class='landing-page-body'> --}}


<body class='login-body'>


  <div class="welcome">
    <h1 class="firstH1">
      Welcome to <br> THE _ SPACE
    </h1>
    {{#if user}}
    <a href="/logout">Log out</a>



    {{else}}
    <form action="/signup">
      <button class='big-button button' type="submit">Create your account</button>
    </form>
  </div>





  {{!-- {{#if user.name}}
  <h1>
    {{user.name}}
  </h1>
  {{else}}
  <h1>
    {{user.username}}
  </h1>
  {{/if}}
  {{#if user.avatar}}
  <img src="{{user.avatar}}" style="height: 100px; border-radius: 50%; margin-left: 20px">
  {{/if}} --}}

  {{!-- <form action="/categories" method="POST">
    <select class="custom-select" name="category">
      <option value="" selected>Select Photo Category</option>
      <option value="Nature">Nature</option>
      <option value="Animals">Animals</option>
      <option value="Wedding">Wedding</option>
      <option value="Portrait">Portrait</option>
      <option value="Architecture">Architecture</option>
      <option value="Family">Family</option>
      <option value="Food">Food</option>
    </select>

    <div class="btn-group">
      <button class="button" type="submit">Search</button>
    </div>
  </form> --}}

  {{/if}}

  {{#each photographers}}
  <p>{{username}}</p>
  {{/each}}
  {{!-- </div> --}}
</body>