<h1>{{user.username}}'s profile </h1>
<h2>Your photos</h2>

<body class="profile-body">
  <div class="photo-wrapper">
    {{#if userPhotos}}
    {{#each userPhotos}}
    <div class="photo-item">
      {{!-- <img class='profile-img' src={{imgPath}} alt=""> --}}
      <a href="/photo/{{_id}}"><img src={{imgPath}} alt=""></a>
      <a href="/photo/delete/{{this._id}}">❌</a>
    </div>
    {{/each}}

    {{else}}
    <h3>No photos yet 🤷‍♀️🤷‍ ️</h3>
    {{/if}}
  </div>
  <a href="/photo/add">ADD A PHOTO</a>




  {{!-- <button class="button" type='submit'> ADD </button>
</form> --}}


  <h2>Your favorites</h2>
  {{#each favorites}}
  {{!-- <img class='profile-img' src={{imgPath}} alt=""> --}}
  <a href="/photo/{{_id}}"><img src={{imgPath}} alt=""></a>
  <a href="/photo/delete/{{this._id}}">❌</a>
  {{/each}}

</body>