<h1>Photo</h1>
<div class="photo-wrapper">
  {{#if photos}}
  {{#each photos}}
  <div class="photo-item">
    <h4>{{this.owner}}</h4>
    <p>{{this.description}}</p>
    <p>{{this.comment}}</p>
    
    <img src="{{this.imgPath}}" alt="photo-url">
    <a href="/photo/delete/{{this._id}}">❌</a>
  </div>
  {{/each}}
  {{else}}
  <h3>No photos yet 🤷‍♀️🤷‍ ️</h3>
  {{/if}}
</div>

<a href="/photo/add">Add a photo</a>

<p>Add a comment</p>
<form action="/user-profile" method="POST">
  <label for="user">User:</label>
  <input type="text" name='user' id='user'>

  <label for="comments">Comments:</label>
  <textarea type="text" name="comments" id="comments"></textarea>

  <button type='submit'> ADD </button>
</form>